.react-grid-item.react-draggable-dragging,
.react-grid-item.resizing {
  user-select: none;
}

.react-grid-item.resizing {
  z-index: 3;
}

.react-grid-item.react-grid-placeholder {
  background: var(--primary);
  opacity: 0.2;
  border: 2px dashed var(--primary);
  border-radius: var(--radius);
}
