# dependencies
node_modules

# testing
coverage

# production
collector/build

# misc
.DS_Store
*.pem

# debug
.pnpm-debug.log*

# local env files
.env
.env*.local

.tools
collector/config.yaml

/volumes

.tanstack

coverage.out

config.yml

dist

.output

# rust
target
