# dependencies
node_modules

# testing
coverage

# production
collector/build
collector/build-local

# misc
.DS_Store
*.pem
*.p8
*.p12
private_keys/
.turbo

# debug
.pnpm-debug.log*

# local env files
.env
.env.prod
.env*.local

.tools
collector/config.yaml

/volumes

.tanstack

coverage.out

config.yml

dist
!.github/actions/everr-resource-usage/dist
!.github/actions/everr-resource-usage/dist/**
.github/actions/everr-resource-usage/build/

.output

# rust
target

# Terraform infra
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
terraform.tfvars.json
