@import "@everr/ui/src/styles/global.css";
@import "fumadocs-ui/css/shadcn.css";
@import "fumadocs-ui/css/preset.css";

@source "../../../ui/src/**/*.{ts,tsx}";

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@layer base {
  *::selection {
    background-color: var(--primary);
    color: var(--primary-foreground);
  }
}

@media (width < 64rem) {
  #nd-nav div:has(> div > [data-nav-actions]) {
    margin-inline-start: 0;
  }

  #nd-nav div:has(> div > [data-nav-actions]) > [role="separator"] {
    display: none;
  }

  #nd-nav div:has(> [data-nav-actions]) {
    flex: 1;
  }
}

::view-transition-group(*) {
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
  }
}
